body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.destinations-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.destination-box {
    width: 300px; /* Adjust box width */
    padding: 20px; /* Increase padding for better spacing */
    border: 1px solid #ccc;
    margin-bottom: 20px; /* Increase margin bottom for spacing */
    border-radius: 8px;
    text-align: center; /* Center align content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

.destination-box img {
    max-width: 100%; /* Ensure images are responsive */
    border-radius: 8px 8px 0 0; /* Rounded corners for top */
}

.destination-name {
    font-size: 24px; /* Increase font size */
    font-weight: bold;
    margin-top: 15px; /* Increase margin top for spacing */
}

.destination-description {
    margin-top: 10px; /* Adjust margin top for spacing */
    line-height: 1.4; /* Increase line height for readability */
}

.rating {
    margin-top: 10px;
}

.rating span {
    color: #f39c12; /* Star color */
    font-size: 20px;
}
