/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  margin-top: 150px;
  padding: 0;
  height: 100vh;
  display:grid;
  justify-content: center;
  align-items: center;
}

.header {
    background-image: url("../img/hero-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: hsla(0, 0%, 0%, 0.7);
    background-blend-mode: overlay;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.package-information {
    margin-top: 25px;
    margin-bottom: 25px;
}

.book-container {
    background-color: rgba(255, 255, 255, 1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 125px auto 25px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.book-container h1 {
  margin: 0;
  font-size: 2em;
  color: #007bff;
  font-weight: 700;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-weight: 500;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: #007bff;
  outline: none;
}

.form-group textarea {
  resize: vertical;
}

.form-group button {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-group button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
  }

  .book-container h1 {
    font-size: 1.5em;
  }

  .form-group input,
  .form-group select,
  .form-group textarea {
    font-size: 14px;
  }

  .form-group button {
    font-size: 16px;
  }

}

.footer .container {
    max-width: 1920px;
}
