body {
  font-family: Arial, sans-serif;
  margin-top: 250px;
  padding: 0;
  background-image: url("../img/hero-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsla(0, 0%, 0%, 0.7);
  background-blend-mode: overlay;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(
    255,
    255,
    255,
    1
  );
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1,
h2 {
  color: #007bff; /* Blue color for the headings */
}

.profile-section {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: black; /* Blue color for the labels */
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profile-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff; /* Blue background color for buttons */
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.profile-button:hover {
  background-color: #0056b3; /* Darker blue for hover effect */
}

#previous-bookings {
  display: block;
  margin: 20px 0;
}


